version: "3.8"

services:

#  zipkin:
#    image: openzipkin/zipkin
#    mem_limit: 700m
#    ports:
#      - "9411:9411"
#    networks:
#     - eazybank

  configserver:
    image: ratzbank-configserver:latest
    mem_limit: 700m
    ports:
      - "8071:8071"
    networks:
      - ratzbank-network
#    depends_on:
#      - zipkin
#    environment:
#      SPRING_PROFILES_ACTIVE: default
#      #SPRING_ZIPKIN_BASEURL: http://zipkin:9411/
#      SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/
      
  eurekaserver:
    image: ratzbank-eurekaserver:latest
    mem_limit: 700m
    ports:
      - "8070:8070"
    networks:
     - ratzbank-network
    depends_on:
      - configserver
    deploy:
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/
      #SPRING_ZIPKIN_BASEURL: http://zipkin:9411/

  accounts:
    image: ratzbank-accounts:latest
    mem_limit: 700m
    ports:
      - "8080:8080"
    networks:
      - ratzbank-network
    depends_on:
      - configserver
      - eurekaserver
    deploy:
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 3
        window: 120s
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8070/eureka/
#      SPRING_ZIPKIN_BASEURL: http://zipkin:9411/
  
  loans:
    image: ratzbank-loans:latest
    mem_limit: 700m
    ports:
      - "8090:8090"
    networks:
      - ratzbank-network
    depends_on:
      - configserver
      - eurekaserver
    deploy:
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 3
        window: 120s
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8070/eureka/
#      SPRING_ZIPKIN_BASEURL: http://zipkin:9411/
    
  cards:
    image: ratzbank-cards:latest
    mem_limit: 700m
    ports:
      - "9000:9000"
    networks:
      - ratzbank-network
    depends_on:
      - configserver
      - eurekaserver
    deploy:
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 3
        window: 120s
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8070/eureka/
#      SPRING_ZIPKIN_BASEURL: http://zipkin:9411/
      
#  gatewayserver:
#    image: eazybytes/gatewayserver:latest
#    mem_limit: 700m
#    ports:
#      - "8072:8072"
#    networks:
#      - eazybank
#    depends_on:
#      - configserver
#      - eurekaserver
#      - cards
#      - loans
#      - accounts
#    deploy:
#      restart_policy:
#        condition: on-failure
#        delay: 45s
#        max_attempts: 3
#        window: 180s
#    environment:
#      SPRING_PROFILES_ACTIVE: default
#      SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8070/eureka/
#      SPRING_ZIPKIN_BASEURL: http://zipkin:9411/

networks:
  ratzbank-network: